* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    background: rgb(40, 46, 71);
    width: 100%;
    height: 50px;
    background-position: center;
    background-size: cover;
}

header a {
    text-decoration: none;
    color: black;
}

header ul {
    text-align: center;
}

header li {
    color: white;
    margin: 0 20px;
    width: 180px;
    display: inline-block;
    border-bottom: 1px solid rgb(178, 182, 197);
    padding: 10px;
}

header li.first {
    border-bottom: 1px solid rgb(255, 145, 0);
    cursor: default;
}

header li:hover {
    border-color: rgb(255, 145, 0);
}


/* terms */

#terms {
    background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('./img/terms.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    line-height: 25px;
    padding: 20px;
}

#terms h1 {
    color: rgb(255, 115, 0);
    font-family: 'Josefin Sans', sans-serif;
    padding: 30px;
}

#terms h2 {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

#terms p {
    font-weight: 600;
}

#terms img {
    display: block;
    width: 300px;
    margin: 0px auto;
}

#terms hr {
    margin-top: 10px;
}


/* icons */

#icons {
    width: 100%;
    height: 60px;
    background: rgb(40, 46, 71);
    display: flex;
    justify-content: space-around;
}

#icons div {
    line-height: 60px;
}

#icons i {
    font-size: 40px;
    padding: 10px;
    color: white;
}

#icons div a i:hover {
    color: rgb(218, 218, 218);
}

@media screen and (max-width: 1050px) {
    header {
        height: 100%;
        padding: 10px;
    }
    #terms h1 {
        padding: 10px;
        line-height: 30px;
    }
    #terms img {
        display: block;
        width: 300px;
        margin: 0px auto;
    }
}

@media screen and (max-width: 600px) {
    #terms img {
        width: 100%;
    }
    #icons {
        height: 30px;
        justify-content: space-between;
    }
    #icons div {
        line-height: 30px;
    }
    #icons i {
        font-size: 20px;
        padding: 5px;
    }
}